DEV_MODE=false
LOGS_WRITE=false

# разрешенные среды для роутов, пример в роуте: /{env}/api/endpoint
ALLOW_ROUTE_ENV=dev,prod

# настройки подключения к базе данных
DATABASE_DRIVER=mysql
DATABASE_HOST=mysql
DATABASE_DB=snd_db
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_CHARSET=utf8mb4

# настройки подключения к redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=snd

# пример с route_env, можно переписать так любую настройку ENV
DEV_DATABASE_DB=snd_db_dev
PROD_DATABASE_DB=snd_db_prod