DEV_MODE=false
LOGS_WRITE=false

# разрешенные среды для роутов, пример в роуте: /{env}/api/endpoint
ALLOW_ROUTE_ENV=dev,prod

# настройки подключения к mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=snd_mysql
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_CHARSET=utf8mb4

# настройки подключения к postgresql
POSTGRESQL_HOST=postgresql
POSTGRESQL_PORT=5432
POSTGRESQL_DB=snd_pgsql
POSTGRESQL_USER=root
POSTGRESQL_PASSWORD=root

# настройки подключения к manticore
MANTICORE_HOST=manticore
MANTICORE_PORT=9306
MANTICORE_DB=snd_manticore
MANTICORE_USER=root
MANTICORE_PASSWORD=root

# настройки подключения к redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=snd

# настройка очередей
# для QUEUE_DB_TYPE возможны mysql или postgresql
QUEUE_LIMIT=100
QUEUE_MAX_TIME=3600
QUEUE_MAX_ATTEMPTS=3
QUEUE_DB_TYPE=mysql
QUEUE_DB_TABLE=queue

# настройка прогресса
PROGRESS_TTL=86400

# пример с route_env, можно переписать так любую настройку ENV
DEV_MYSQL_DB=snd_mysql_dev
PROD_MYSQL_DB=snd_mysql_prod